[
    {
        "Recipient":"hello@rasmusj.se",
        "Type":"HTTP",
        "Destination":"https://rtek.se/an/email/handler"
    },
    {
        "Recipient":"test@rasmusj.se",
        "Type":"SMTP",
        "Destination":"rasmus@rtek.se"
    },
    {
        "Recipient":".+@rasmusj.se",
        "Type":"SMTP",
        "Destination":"rasmusj.se@gmail.com"
    }
]